<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>860160453194-719ap4f1eg3jdl1b1j9dc58sit6tfk7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860160453194-719ap4f1eg3jdl1b1j9dc58sit6tfk7s</string>
	<key>API_KEY</key>
	<string>AIzaSyAvh9ODN6lvz3lOS5ICqKfqClbHGreiVp8</string>
	<key>GCM_SENDER_ID</key>
	<string>860160453194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.denfan.PolyChat</string>
	<key>PROJECT_ID</key>
	<string>polychat-9bf1c</string>
	<key>STORAGE_BUCKET</key>
	<string>polychat-9bf1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:860160453194:ios:f05e79a2325cb351</string>
	<key>DATABASE_URL</key>
	<string>https://polychat-9bf1c.firebaseio.com</string>
</dict>
</plist>